body{
    background-color:#2C2D65 ;
    color: white;
    display: flex;
    font-family: BurbankC;
}

@font-face {
    font-family: 'BurbankC';
    src: url('../Assets/Fonts/BurbankBigCondensed-Black.otf') format('woff2'),
         url('../Assets/Fonts/BurbankBigCondensed-Black.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.weather-display {
  background-color:#0D55A8;
  border-radius: 10px;
}
  
.weather-icon {
  margin-right: auto;
  margin-left: auto;
  width: 50px;
  height: 50px;
}
  
.favorites-list .list-group-item {
  background-color: #0D55A8;
  color: white;
  border: none;
}

.favorites-list{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
  
.forecast-box {
  background-color: #0D55A8;
  border-radius: 10px;
}
.forecast-box-overlay {
  background-image: linear-gradient(to bottom, #BEDCFF , #86BDFD,#2E5F97);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
}
  
.forecast-icon {
  margin-right: auto;
  margin-left: auto;
  width: 50px;
  height: 50px;
}  

.g-p{
  gap: 10px;
  justify-content:space-evenly;
}

.container-fluid{
  margin-right:  170px !important;
  margin-left: 170px !important;
}

.star-size{
  width:50px;
  height: auto;
}

.bg-fv{
  background-color: #2E5F97;
  border-radius: 10px;
}